/* bootstrap change */

.navbar {margin-bottom:0px !important; }

.container {max-width:930px !important;}

input::-webkit-input-placeholder{color:#262626 !important;}
input::-moz-placeholder{color:#262626 !important;}
.form-control {color:#262626 !important; padding:6px 8px !important}
.select_option {background:url(../images/bg_select_box.jpg) no-repeat right }
.diable img { opacity:0.6;   }

.main_form_outer div label {display:none !important;}
.error {background:#acd373 !important;}


#panel1 {
    display: none;
    position: relative;
    max-width:1000px;
    margin:0px auto;
}
#panel2 {
    display: none;
    position: relative;
    max-width:1000px;
    margin:0px auto;
}
#panel3 {
    display: none;
    position: relative;
    max-width:1000px;
    margin:0px auto;
}

.modal-header {border:none;}
.modal-body p {font-size:11px;}



.header_outer {background:url(../images/bg_landing.jpg) no-repeat top;}
.top_logo {width:100%; display:block; position:relative;}
.logo {float:right; margin:0 1em 0 0 ;}
.hedline {font-size:80px; color:#fff; text-transform:uppercase; font-family:'bmw_type_web_bold_allregular'; line-height:75px; margin:1.2em 0 0 0;  }
.sub_hed_line {font-size:20px; color:#fff; text-transform:uppercase; margin:0.6em 0 0 0;}
.watch_film {float: right;  margin: -12em 1em 0 0;  background: #FFF;}
.watch_film p {padding:0.1em 1em 0.3em 1em; font-size:14px; font-weight:bold; margin:0px;}

.select_for_drive {margin:6em 0 0 0;}
.select_for_drive p {font-size:16px; color:#fff; text-transform:uppercase;}
.select_drive {margin:0px; padding:0px; background:#000;}
.select_drive li {list-style:none; background:#000;}
.select_drive .col-md-4 {margin:0px; padding:0px;}

.inner_angu {margin:2em auto 0em auto ; max-width:835px;}
.series_head {border-bottom:1px solid #dddddd; padding:0.5em 0; }

.series_head h4 {text-transform:uppercase; font-size:16px;}
.main_form_outer h4 {text-transform:uppercase; font-size:16px;}


.form-control {border-radius:0px !important; border:1px solid #bbbbbb; box-shadow:none !important; }
select .form-control {border-radius:0px !important}

.main_form_outer {margin:0px; padding:1.5em 0px;}
.main_form_outer div {margin:0px; padding:0px;}
.form_padd {padding:1em 1em 1em 1em  !important ;}
.form_padd_last {padding:0.5em 0em 0.5em 0em  !important ;}
.form_padd_fir {padding:0.5em 1em 0.5em 0em  !important ;}
.form_padd_cen {padding:0.5em 1em 0.5em 0em  !important ;}
.mandatory {text-align:right; float:right}
.foo_model {margin:1em 0 0 0 !important ; border-top:1px solid #ddd; padding:1em 0 0 0 !important; font-size:11px; color:#666666;}

.submit {background:url(../images/submit.jpg) repeat-x; border: none; color:#fff; font-size:18px; width:150px; text-align:left; padding:0.5em 0.5em 0.5em 1em; margin:1em 0; } 


.youtube-container { display: block; margin: 0px auto; width: 200px; max-width: 600px; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("../images/gt.jpg") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

@media (min-width: 767px) {
    .navbar-nav.nav-justified > li {float: none;}
}
.navbar-nav {margin: 1px 1px;}
/* customize nav style */
.navbar-custom {background-color: #2e2e2e;font-weight: 700;text-transform: uppercase;border-width: 0;}
.navbar-custom .navbar-nav>li>a {color: #ddd;}
.navbar-custom .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a {background-color: #000;}
.navbar-custom .dropdown-menu {right: 0;}
.navbar-custom .navbar-nav>.dropdown>a .caret {border-top-color: #999;border-bottom-color: #999;}
.navbar-collapse.in { /*3.0.2 bug workaround*/overflow-y: visible;}
.navbar-toggle {outline: 0;}
.divider {height: 100px;}
.panel {border-width: 0;}

@media (max-width: 768px) {header {height: 95px;}

}
#map-canvas {width: 100%;height: 300px;margin: 0;padding: 15px;}
.scroll-top {position: fixed;bottom: 0;right: 6%;z-index: 100;background: #ffcc33;font-size: 24px;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.scroll-top a:link, .scroll-top a:visited {color: #222;}
section {color: #ffffff;min-height: 400px;height: auto !important;height: 100%;padding-top: 0px;}
.bg-1 {background: url('http://www.bootply.com/assets/example/bg_4.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.bg-2 {background: url('http://www.bootply.com/assets/example/bg_5.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.bg-3 {background: url('http://www.bootply.com/assets/example/bg_6.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.bg-4 {padding-top: 30px;background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)), to(rgba(255,255,255,0)), color-stop(1, #000));}